<?xml version="1.0"?>

<robot name="anymal" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Scale factor for mesh -->
  <xacro:property name="anymal_meshes_scale_factor" value="1.0"/>
  <xacro:property name="anymal_meshes_scale"
    value="${anymal_meshes_scale_factor} ${anymal_meshes_scale_factor}
    ${anymal_meshes_scale_factor}"/>

  <!-- Contact model -->
  <xacro:property name="kp" value="1000000.0"/>
  <xacro:property name="kd" value="100.0"/>
  <xacro:property name="mu" value="0.8"/>

</robot>
