<?xml version='1.0'?>
<model>
  <name>Lab Stairs Large 0.17x0.29m</name>
  <version>0.1.0</version>
  <sdf>model.sdf</sdf>
  <author>
    <name>Fabian Jenelten</name>
    <email>fabianje@mavt.ethz.ch</email>
  </author>
  <description>
    Staircase with 5 steps. Each step has the dimensions of 0.17x0.29x1.5.
  </description>
</model>