<?xml version='1.0'?>
<model>
  <name>Stepping Stones</name>
  <version>0.1.0</version>
  <sdf>model.sdf</sdf>
  <author>
    <name>Fabian Jenelten</name>
    <email>fabian.jenelten@mavt.ethz.ch</email>
  </author>
  <description>
    Composition of stepping stones, rails and slopes.
  </description>
</model>
