<?xml version="1.0" encoding="utf-8"?>

<launch>

  <!-- Launch file starting the ANYmal B navigation PC software stack. -->
  <!-- Load the configuration first before invoking this file.  -->

  <!-- Navigation PC stack -->
  <include file="$(find stack_launcher)/launch/stack_launcher.launch">
    <arg name="stack"         value="npc"/>
    <arg name="trigger_param" value="/config_loaded"/>
  </include>

</launch>
