<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="handle">

    <xacro:property name="B_r_BBbcom_x" value= "0.37801"/> <!--  [m] -->
    <xacro:property name="B_r_BBbcom_y" value= "0.0"/> <!--  [m] -->
    <xacro:property name="B_r_BBbcom_z" value= "0.1372"/> <!--  [m] -->
    <xacro:property name="m_Bb"         value= "0.314"/> <!-- [kg] -->
    <xacro:property name="B_Ixx_Bb"     value= "0.001525739"/> <!-- [kg * m^2] -->
    <xacro:property name="B_Iyy_Bb"     value= "0.000715840"/> <!-- [kg * m^2] -->
    <xacro:property name="B_Izz_Bb"     value= "0.001164779"/> <!-- [kg * m^2] -->
    <xacro:property name="B_Ixy_Bb"     value= "0.0"/> <!-- [kg * m^2] -->
    <xacro:property name="B_Ixz_Bb"     value= "0.000062720"/> <!-- [kg * m^2] -->
    <xacro:property name="B_Iyz_Bb"     value= "0.000000001"/> <!-- [kg * m^2] -->


    <!-- Fixed joint base handle -->
    <joint name="base_handle" type="fixed">
      <parent link="base"/>
      <child link="handle"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <!-- Handle link -->
    <link name="handle">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh
            filename="package://anymal_c/urdf/base/handle/handle_3_1_1_mesh.dae"
            scale="${anymal_meshes_scale}"/>
        </geometry>
      </visual>
      <inertial>
        <origin   xyz="${B_r_BBbcom_x} ${B_r_BBbcom_y} ${B_r_BBbcom_z}"
                  rpy="0 0 0"/>
        <mass     value="${m_Bb}"/>
        <inertia  ixx="${B_Ixx_Bb}" ixy="${B_Ixy_Bb}" ixz="${B_Ixz_Bb}"
                  iyy="${B_Iyy_Bb}" iyz="${B_Iyz_Bb}" izz="${B_Izz_Bb}"/>
      </inertial>    
    </link>

  </xacro:macro>

</robot>
