<?xml version="1.0" encoding="utf-8"?>

<launch>

  <!-- Publish the ping of a given PC at a given frequency -->

  <!-- IP or hostname of target PC -->
  <arg name="target_ip"       default="localhost"/>
  <!-- Ping rate in Hz -->
  <arg name="ping_rate"       default="1"/>
  <!-- Topic name to publish ping -->
  <arg name="ping_topic"      default="ping"/>
  <!-- Ping Timeout in S-->
  <arg name="ping_timeout"    default="3"/>
  <!-- Ping packet number-->
  <arg name="ping_packets"    default="1"/>

  <node ns="pinger_ros" name="pinger_ros" pkg="pinger_ros" type="pinger_ros.py" output="screen">
    <param name="target_ip"       value="$(arg target_ip)"/>
    <param name="ping_rate"       value="$(arg ping_rate)"/>
    <param name="ping_topic"      value="$(arg ping_topic)"/>
    <param name="ping_timeout"    value="$(arg ping_timeout)"/>
    <param name="ping_packets"    value="$(arg ping_packets)"/>
  </node>

</launch>
