<?xml version='1.0'?>
<model>
  <name>apriltag_0_size_18cm</name>
  <version>0.1.0</version>
  <sdf version='1.5'>model.sdf</sdf>
  <author>
    <name>Linus Isler</name>
    <email>lisler@anybotics.com</email>
  </author>
  <description>April tag, class standard 41a12, id 0, size 18 cm</description>
</model>
