<?xml version='1.0'?>
<model>
  <name>heat_plate_0.15x0.15_e1.0</name>
  <version>0.1.0</version>
  <sdf version='1.5'>model.sdf</sdf>
  <author>
    <name>Audrey Marullaz</name>
    <email>amarullaz@anybotics.com</email>
  </author>
  <description>Heat plate, 0.15x0.15, 1.0 emissive</description>
</model>
