<?xml version='1.0'?>
<model>
  <name>Stairs 200 x 200</name>
  <version>0.1.0</version>
  <sdf version="1.4">model.sdf</sdf>
  <author>
    <name>Yvain de Viragh</name>
    <email>ydeviragh@anybotics.com</email>
  </author>
  <description>
    A stair model with 200 mm run, 200 mm rise, and 5 steps for testing purposes.
  </description>
</model>
