<?xml version='1.0'?>
<model>
  <name>Rails High</name>
  <version>0.1.0</version>
  <sdf>model.sdf</sdf>
  <author>
    <name>Fabian Jenelten</name>
    <email>fabian.jenelten@mavt.ethz.ch</email>
  </author>
  <description>
    Slope + platform + rail + platform. The robot gets from one platform to the other only by walking on the rails connecting those two.
  </description>
</model>
