<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <arg name="port" default="/dev/ttyS1"/>
  <arg name="baud" default="115200"/>
  <arg name="timeout" default="1"/>
  <arg name="password" default="password"/>
  <arg name="output" default="screen"/>
  <arg name="launch-prefix" default=""/>
  <arg name="time_step" default="0.01"/>

  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find rpsm_lpc)/config/rosconsole.config" />
  <node name="rpsm_lpc"
        pkg="rpsm_lpc"
        type="rpsm_lpc_node"
        output="$(arg output)"
        launch-prefix="$(arg launch-prefix)" >
        <param name="port" value="$(arg port)" />
        <param name="baud" value="$(arg baud)" />
        <param name="timeout" value="$(arg timeout)" />
        <param name="password" value="$(arg password)" />
        <param name="time_step" type="double" value="$(arg time_step)"/>
  </node>
</launch>
