<?xml version="1.0" encoding="utf-8"?>

<launch>

  <!-- Joint state publisher -->
  <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" output="screen">
    <param name="use_gui"           value="true"/>
    <param name="rate"              value="100"/>
    <remap from="robot_description" to="/anymal_description"/>
    <remap from="joint_states"      to="/state_estimator/joint_states"/>
  </node>

  <!-- Robot state publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
    <param name="publish_frequency" value="100"/>
    <param name="use_tf_static"     value="true"/>
    <remap from="robot_description" to="anymal_description"/>
    <remap from="joint_states"      to="/state_estimator/joint_states"/>
  </node>

  <!-- RViz -->
  <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find anymal_b_description_visualization)/config/rviz/standalone.rviz"
        output="screen"/>

</launch>
