<?xml version='1.0'?>
<model>
  <name>heat_plate_0.9x0.9_e0.1</name>
  <version>0.1.0</version>
  <sdf version='1.5'>model.sdf</sdf>
  <author>
    <name>Audrey Marullaz</name>
    <email>amarullaz@anybotics.com</email>
  </author>
  <description>Heat plate, 0.9x0.9, 0.1 emissive</description>
</model>
