<?xml version="1.0"?>

<robot name="anymal_c" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="anymal_c_macro" params="suffix:='A'">
        <xacro:include filename="$(find anymal_c_twins)/urdf/anymal_c_${suffix}.urdf.xacro"/>
    </xacro:macro>
    <xacro:anymal_c_macro/>
</robot>