<?xml version="1.0" encoding="utf-8"?>

<launch>

  <!-- Arguments -->
  <arg name="robot" default="c" doc="Robot, e.g. 'chip' or 'chap'. Use 'c' for generic robot."/>

  <!-- Load the configuration and run the visualization and interaction -->
  <node pkg="stack_launcher" type="sequential_roslaunch_node.py" name="sequential_roslaunch" output="screen">
    <rosparam param="launch_files" subst_value="True">
        ['anymal_c load_config.launch robot:=$(arg robot)',
         'anymal_c_description_visualization visualization.launch']
    </rosparam>
  </node>

</launch>
