<?xml version="1.0" encoding="utf-8"?>

<launch>

  <!-- Load robot configuration -->
  <include file="$(find anymal_c)/launch/load_robot_config.launch" pass_all_args="true">
    <arg name="robot"                         value="chimera"/>
    <arg name="version"                       value="c100"/>
    <arg name="application_module"            value="agpu"/>
    <arg name="battery_model"                 value="travel"/>
  </include>

</launch>
