<?xml version="1.0"?>

<!-- Description of the inspection payload. -->
<robot name="anymal" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Inspection payload -->
  <xacro:include filename="$(find inspection_payload_description)/urdf/inspection_payload_odrive.urdf.xacro"/>

  <link name="base"/>

  <xacro:inspection_payload name="inspection_payload" parent="base">
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
  </xacro:inspection_payload>

</robot>
