<?xml version="1.0" encoding="utf-8"?>

<launch>

  <!-- LIDAR -->
  <!-- Whether topic remapping for LIDAR is enabled -->
  <arg name="remap_lidar"                                       default="true"/>
  <!-- Remapping of LIDAR -->
  <arg name="lidar_original_name"                               default="velodyne"/>
  <arg name="lidar_new_name"                                    default="lidar"/>
  <arg name="lidar_frame_name"                                  default="$(arg lidar_new_name)"/>

  <!-- Depth Cameras -->
  <!-- Whether topic remapping for Depth Cameras is enabled -->
  <arg name="remap_depth_cameras"                               default="true"/>
  <!-- Remapping of front Depth Camera -->
  <arg name="depth_camera_front_original_name"                  default="realsense_d435_front"/>
  <arg name="depth_camera_front_new_name"                       default="depth_camera_front"/>
  <arg name="depth_camera_front_frame_prefix"                   default="$(arg depth_camera_front_new_name)"/>
  <!-- Remapping of rear Depth Camera -->
  <arg name="depth_camera_rear_original_name"                   default="realsense_d435_rear"/>
  <arg name="depth_camera_rear_new_name"                        default="depth_camera_rear"/>
  <arg name="depth_camera_rear_frame_prefix"                    default="$(arg depth_camera_rear_new_name)"/>

  <!-- Depth Cameras -->
  <group ns="depth_camera" if="$(eval remap_depth_cameras)">
    <!-- Front Depth Camera -->
    <include file="$(find anymal_perception_topic_tools)/launch/depth_camera_remapping_realsense_d435.launch">
      <arg name="original_sensor_name"                  value="$(arg depth_camera_front_original_name)"/>
      <arg name="new_sensor_name"                       value="$(arg depth_camera_front_new_name)"/>
      <arg name="new_frame_prefix"                      value="$(arg depth_camera_front_frame_prefix)"/>
    </include>

    <!-- Rear Depth Camera -->
    <include file="$(find anymal_perception_topic_tools)/launch/depth_camera_remapping_realsense_d435.launch">
      <arg name="original_sensor_name"                  value="$(arg depth_camera_rear_original_name)"/>
      <arg name="new_sensor_name"                       value="$(arg depth_camera_rear_new_name)"/>
      <arg name="new_frame_prefix"                      value="$(arg depth_camera_rear_frame_prefix)"/>
    </include>
  </group>

  <!-- LIDAR -->
  <group ns="lidar" if="$(arg remap_lidar)">
    <include file="$(find anymal_perception_topic_tools)/launch/lidar_remapping.launch">
      <arg name="original_sensor_name"                  value="$(arg lidar_original_name)"/>
      <arg name="new_sensor_name"                       value="$(arg lidar_new_name)"/>
      <arg name="new_frame_name"                        value="$(arg lidar_frame_name)"/>
    </include>
  </group>

</launch>
